<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="conectar" providerName="System.Data.sqlClient" 
			 connectionString="Data Source=.; Initial Catalog= MANTEMIENTO_PRODUCTO; User Id=sa; Password=1234; Integrated Security=true"/>
	</connectionStrings>
</configuration>